@import '../variables.less';

.epg-container {
  position: relative;
  height: 100%;
  overflow: auto;

  > .epg-header-hours {
    width: @epg-width;
    background-color: @gray;
    border-bottom: 1px solid @epg-border-color;
    display: flex;
    align-content: center;

    .div-hour {
      position: relative;
      width: @epg-hour-width;
      height: @epg-hour-height;
      border-right: 1px solid @epg-border-color;
      text-align: center;
      font-size: 16px;
      line-height: 50px;

      &:after {
        content: '|';
        position: absolute;
        left: 50%;
        color: @text-color;
        bottom: 0;
        line-height: 12px;
        font-size: 12px;
      }
    }
  }
}

.btn-now {
  position: fixed;
  right: 100px;
  bottom: 100px;
}

@media all and (max-width: 600px) {
  .btn-now {
    right: 50px;
    bottom: 70px;
  }

  .epg-container {
    > .epg-header-hours {
      width: @epg-width-smallscreens
    }
  }
}

/*This is a MVP solution.
This allows the EPG to be scrolled to 23:59 on bigger screens.
Can be improved by changing the way we scroll the content.
One solution would be: ff scrolls reaches end of screen, 
start moving the marker until the limit. When use scrolls back,
marker becomes fixed again and we resume scrolling the content itself. 
This would improve UX for bigger screens (assuming we don't load EPG for next
day - horizontal infinite scroll)*/
@media all and (min-width: 1280px) {
  .epg-container {
    > .epg-header-hours {
      width: @epg-width-bigscreens;
    }
  }
}




