.SearchInput {
  height: 100%;
  width: 100%;
  max-height: 200px;
}

.SearchInput .search-button {
  border: none;
  font-size: 24px;
  color: 'white';
}

.SearchInput .search-input {
  width: 100%;
}

.SearchInput .search-input.hidden {
  display: none;
}

.SearchInput .search-button.hidden {
  display: none;
}
