.NavigationMenu > .menu-item-logo {
  height: 50px;
  padding-left: calc(50% - 25px) !important;
}

.NavigationMenu .menu-item-logo-img {
  height: 100%;
}

@media all and (max-width: 600px) {
  .NavigationMenu i.anticon {
    font-size: 24px;
    margin-right: 0;
  }
}
