.App {
  text-align: center;
}

.Layout {
  min-height: 100vh;
}

.LayoutContent {
  margin: 0 16px;
}

.sidebar {
  display: none;
}

@media all and (min-width: 600px) {
  .sidebar {
    display: initial;
  }
}
